<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DEXGet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DEXGet.Properties.Settings>
            <setting name="DexFolderPath" serializeAs="String">
                <value>\DEX\Archive\</value>
            </setting>
            <setting name="ExcelFilePath" serializeAs="String">
                <value>\Excel Files\Input\input.xml</value>
            </setting>
            <setting name="MachineDatabasePath" serializeAs="String">
                <value>\DEX\Machine Database\</value>
            </setting>
            <setting name="DexFileTray" serializeAs="String">
                <value>\Luci Files\DEX File Tray\</value>
            </setting>
            <setting name="SFTP_IP" serializeAs="String">
                <value>Enter SFTP server IP here</value>
            </setting>
            <setting name="SFTP_Username" serializeAs="String">
                <value>Enter SFTP account username here</value>
            </setting>
            <setting name="SFTP_Password" serializeAs="String">
                <value>Enter SFTP account password here</value>
            </setting>
            <setting name="SFTP_Path_to_Nayax_folder" serializeAs="String">
                <value>Enter SFTP server directory of text files</value>
            </setting>
            <setting name="SFTP_Path_to_CPI_folder" serializeAs="String">
                <value>Enter SFTP server directory of ZIP files containing text files</value>
            </setting>
            <setting name="SFTP_PortNumber" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="SFTP_SSHKey" serializeAs="String">
                <value>Enter SFTP account SSH key here</value>
            </setting>
            <setting name="TempDexFolder" serializeAs="String">
                <value>\DEX\Temp\</value>
            </setting>
            <setting name="MachineArchive" serializeAs="String">
                <value>\DEX\Machine Archive\</value>
            </setting>
            <setting name="ZipFolder" serializeAs="String">
                <value>\DEX\ZIP Files\</value>
            </setting>
            <setting name="TempZipFolder" serializeAs="String">
                <value>\DEX\ZIP Files\Temp\</value>
            </setting>
            <setting name="WinSCP_Session_Logs" serializeAs="String">
                <value>\Error Logs\DEXGet Logs\WinSCP Session Logs\</value>
            </setting>
            <setting name="MasterErrorLogFolder" serializeAs="String">
                <value>\Error Logs\DEXGet Logs\Master Log\</value>
            </setting>
            <setting name="Crash_Logs" serializeAs="String">
                <value>\Error Logs\DEXGet Logs\</value>
            </setting>
            <setting name="Lucifer_2017_Database_Path" serializeAs="String">
                <value>Insert workbench folder directory here(Master folder for all files. Should be an empty folder)</value>
            </setting>
            <setting name="Session_Logs_Folder" serializeAs="String">
                <value />
            </setting>
        </DEXGet.Properties.Settings>
    </userSettings>
</configuration>